<% content_for :cdn_code do %>
  <%= javascript_include_tag '//cdn.auth0.com/js/lock-7.11.min.js' %>
  <%= stylesheet_link_tag  'profile' %>
<% end %>
<%= render "layouts/header" %>
<%= content_tag :div, class: "temp_information", data: {follower: @user.id, followee: @user_profile.id, name: @user_profile.name} do %>
<% end %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "profile.js" %>
<% end %>
<div class="feed">
  </br></br>
  <div class="container container-logged-in">
    <div class="banner">
        <div class="row small-up-2 large-up-4">
          <div id="cal-heatmap">
            <h3 style="color: #FFF; float: left;">Calories Out</h3>
            <div class="chart" id="heatmap-chart-1">
            </div>
          </br>
            <h3 style="color: #FFF; float: left;">Calories In</h3>
            <div class="chart" id="heatmap-chart-2">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="feed-banner">
    <div class="fitfam-container">
      <div class="medium-4 columns user-info-container">
        <div class="avatar-large">
        <p><%= image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/sdw/128.jpg" %></p>
        </div>
        <div class="user-info">
          <h3 style="color: #FFF;"><%= @user_profile.name %></h3>
          <h4 style="color: #FFF;"><%= @user_profile.age %> years old</h4>
          <h4 style="color: #FFF;"><%= @user_profile.height %>cm, <%= @user_profile.weight %>kg </h4>
        </div>
          <button id="addToFitFam">Add <%= @user_profile.name %> to your FitFam!</button>
      </div>
    </div>
        <div class="feed-container">
          <div class="medium-8 columns">
            <div class="fitfeed-title">
            <h3 style="color:#FFF;">Nick's Activities</h3>
          </div>
            <div class="fitfeed-activities">
              <div class="fitfeed-friend">
                <%= image_tag 'beach-volleyball.png', class: "avatar-small"%>
                <div class="activity-info">
                  <p>
                    Nick played Beach Volleyball for 2 hours yesterday
                  </p>
                </div>
              </div>
              <div class="fitfeed-friend">
                <%= image_tag 'soccer2.png', class: "avatar-small"%>
                <div class="activity-info">
                  <p>
                    Nick played Soccer for 3 hours on Tuesday
                  </p>
                </div>
              </div>
              <div class="fitfeed-friend">
                <%= image_tag 'rock-climbing.png', class: "avatar-small"%>
                <div class="activity-info">
                  <p>
                    Nick went Rock Climbing for 4 hours on Sunday
                  </p>
                </div>
              </div>
              <div class="fitfeed-friend">
                  <%= image_tag 'running.png', class: "avatar-small"%>
                <div class="activity-info">
                  <p>
                    Nick went Jogging for 1 hour last Friday
                  </p>
                </div> 
              </div>
              <div class="fitfeed-friend">
                  <%= image_tag 'tennis.png', class: "avatar-small"%>
                <div class="activity-info">
                  <p>
                    Nick played Tennis for 3 hours last Wednesday
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<script> loadProfilejs(); </script>
